*.iml
.gradle
/local.properties
.idea
/.idea/
buildSrc/build/
buildSrc/gradle/
.gradle/
.DS_Store
/build
/captures
/app/live/release/
/app/build/outputs/apk/
**/app/live/release/*.abb
*.apk
*.abb
.externalNativeBuild
.cxx
local.properties
